<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/coach.css"/>
    <title>Стартовая страница</title>
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/status.js"></script>
<div id="mainContainer">
    <header id="coachHeader">
        <div style="text-align: right;">
            <span>Статус:</span>
            <select name="status" id="status">
                #foreach($enum in $status.keySet())
                <option value="$enum" #if($enum.equals($currentStatus))selected #end>$status.get($enum)</option>
                #end
            </select>
        </div>
        <div id="statusResponseHolder" style="text-align: right">
            <span id="statusMessege"></span>
        </div>
        Welcome to coach page!<br>
        ${message}
    </header>
</div>

</body>
</html>