<!DOCTYPE html>
<html ng-app="coachManagement">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/coach.css"/>
    <title>Доска информации</title>
    <script src="/js/libs/jquery-core/jquery-1.4.2.js"></script>
    <script src="/js/libs/angularjs/angular.js"></script>
    <script type="text/javascript"
            src="/js/libs/angularjs/angular-resource.js"></script>
    <script type="text/javascript" src="/js/angularJS/coach-management.js"></script>
</head>
<body>
<div id="mainContainer">
    <header id="coachHeader" ng-controller="statusListController">
        <div style="text-align: right;">
            <span>Статус:</span>
            <select ng-model="currentStatus" ng-change="updateStatus()" ng-options="k as v for (k,v) in data"
                    name="status" id="status"></select>
        </div>
        <div id="statusResponseHolder" style="text-align: right">
            <span id="statusMessege"></span>
        </div>
        Welcome to coach page!<br>
        ${message}
    </header>
    <section>
        <a href="/findcoach/coach/profile/calendar.html">Календарь</a>
        <a href="/findcoach/coach/${coachAlias}/padawan-management/add-padawan.html">Добавление падавана</a>
        <a href="/findcoach/coach/${coachAlias}/program/1.html">Программа</a>
        <a href="/findcoach/coach/${coachAlias}/padawans">Список падаванов</a>
    </section>
</div>

</body>
</html>