<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/cv.css"/>
    <title>Личная информация</title>
</head>
<body>
<div>
    <div id="formWrap">
        <form name="cv">
            <span>Псевдоним</span>
            <input class="input" type="text" name="alias" maxlength="60" pattern="[a-zA-Z0-9._-]+$">
            <span>Заголовок</span>
            <input class="input" type="text" name="header" maxlength="60">
            <span>Описание</span>
            <textarea class="input" name="description" maxlength="140"></textarea>
            <input class="input" type="submit" value="Отправить">
        </form>
    </div>
</div>
</body>
</html>