<!DOCTYPE html>
<html ng-app="loginManagement">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="/js/libs/jquery-core/jquery-1.4.2.js"></script>
    <script src="/js/libs/angularjs/angular.js"></script>
    <script type="text/javascript" src="/js/libs/angularjs/angular-resource.js"></script>
    <script type="text/javascript" src="/js/angularJS/login-management.js"></script>
</head>
<body>
    Facebook login: <br>
    <form action="email" method="post">
        <input id="login" type="email" value="vasa@mail.com">
        <input id="password" type="password" value="***">
        <input id="submit" type="submit" value="Submit">
    </form>
</body>
</html>
