<!DOCTYPE html>
<html ng-app="loginManagement">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="/js/libs/jquery-core/jquery-1.4.2.js"></script>
    <script src="/js/libs/angularjs/angular.js"></script>
    <script type="text/javascript" src="/js/libs/angularjs/angular-resource.js"></script>
    <script type="text/javascript" src="/js/angularJS/login-management.js"></script>
    <script type="text/javascript" src="/js/angularJS/angular-facebook.js"></script>
</head>
<body ng-controller="authorizationController">
    Findercoach. Find your destiny <br>
    Input your email<br>
    <form ng-submit="sendSimpleAuthorization()">
        <input id="email" type="email" value="vasa@mail.com">
        <input id="submit" type="submit" value="Submit" >
    </form>
    <img src="/resources/fb.png"/> <a href="" ng-click="login()">Login with Facebook</a>
</body>
</html>
