<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/padawan.css"/>
    <title>Стартовая страница</title>
</head>
<body>
<div id="mainContainer">
    <header id="padawanHeader">
        <div style="text-align: right;">
            <span>Статус:</span>
            <select name="status" id="status">
                <option>Looking for coach</option>
            </select>
        </div>
        Welcome to padawan page!
        ${message}
    </header>
</div>

</body>
</html>