<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/coach.css"/>
    <title>Добавление падавана</title>
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/status.js"></script>
<div id="mainContainer">
    <header id="coachHeader">
        <h1>Добавление падавана</h1>
    </header>
    <section>
        <form>
            <p>Имя</p>

            <p><input name="padawanName" value=""/></p>
        </form>
    </section>
</div>

</body>
</html>