<section>
    <a href="/findcoach/coach/profile/calendar.html">Календарь</a>
    <a href="/findcoach/coach/${coachAlias}/padawan-management/add-padawan.html">Добавление падавана</a>
    <a href="/findcoach/coach/${coachAlias}/padawans.html">Список падаванов</a>
</section>