<!DOCTYPE html>
<html ng-app="coachManagement">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script type="text/javascript">
        var loggedCoachAlias = '$coachAlias';
    </script>
    <script src="/js/libs/angularjs/angular.js"></script>
    <script src="/js/libs/angularjs/angular-resource.js"></script>
    <script src="/js/libs/jquery-core/jquery-1.4.2.js"></script>
    <script src="/js/angularJS/coach-management.js"></script>
    <link rel="stylesheet" href="/css/coach.css"/>
    <title>Добавление падавана</title>
</head>
<body>
<div id="mainContainer">
    <header id="coachHeader">
        <h1><a href="/findcoach/coach/profile/dashboard.html">Список падаванов</a></h1>
    </header>
    #parse("padawan-management/menu.vm")
    <section>
        <table>
            <tr class="header">
                <th>#</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Пол</th>
            </tr>
            #foreach($padawan in $padawansList)
            <tr>
                <td>$velocityCount</td>
                <td>$padawan.firstName</td>
                <td>$padawan.lastName</td>
                <td>$padawan.email</td>
                <td>$padawan.gender</td>
            </tr>
            <tr>
                <td colspan="5">
                    <table>
                        #foreach($padawanProgram in $padawan.padawanProgramDTOList)
                        <tr>
                            <td>$padawanProgram.programName</td>
                            <td>$padawanProgram.goal</td>
                            <td>$padawanProgram.programStartDate</td>
                            <td>$padawanProgram.programFinishDate</td>
                            <td><a href="/findcoach/coach/${coachAlias}/program/${padawanProgram.programId}.html">$padawanProgram.programId</a>
                            </td>
                        </tr>
                        #end
                    </table>
                </td>
            </tr>
            #end
        </table>
    </section>
</div>

</body>
</html>