<!DOCTYPE html>
<html ng-app="coachManagement">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/coach.css"/>
    <script type="text/javascript">
        var loggedCoachAlias = '$coachAlias';
        var programId = '$programId';
        var cycleName = '$cycle.name';
        var cycleStartDate = '$cycle.startDate';
        var cycleEndDate = '$cycle.endDate';
        var cycleNotes = '$cycle.notes';
        var cycleId = '$cycle.cycleId';
    </script>
    <script src="/js/libs/jquery-core/jquery-1.4.2.js"></script>
    <script src="/js/libs/angularjs/angular.js"></script>
    <script type="text/javascript" src="/js/libs/angularjs/angular-resource.js"></script>
    <script type="text/javascript" src="/js/angularJS/coach-management.js"></script>

    <title>Доска информации</title>
</head>
<body>
<div id="mainContainer">
    <header id="coachHeader" ng-controller="statusListController">
        <div style="text-align: right;">
            <span>Статус:</span>
            <select ng-model="currentStatus" ng-change="updateStatus()" ng-options="k as v for (k,v) in data"
                    name="status" id="status"></select>
        </div>
        <div id="statusResponseHolder" style="text-align: right">
            <span id="statusMessage"></span>
        </div>
        Welcome to coach page!<br>
        ${message}
    </header>
    <section>
        <h1>${cycleAction} цикл для программы &laquo;${programName}&raquo;</h1>
        #parse("padawan-management/menu.vm")
        <br/>
        <a href="/findcoach/coach/${coachAlias}/program/${programId}/cycle.html">Добавить цикл</a>

        <form ng-controller="cycleController" ng-submit="saveCycle()">
            <fieldset>
                <legend>Базовая информация о цикле</legend>
                <p>Название</p>

                <p><input type="text" name="cycleName" id="cycleName" ng-model="cycleData.name" value=""/></p>

                <p>Дата начала</p>

                <p><input type="date" name="cycleStartDate" id="cycleStartDate" ng-model="cycleData.startDate"/></p>

                <p>Дата окончания</p>

                <p><input type="date" name="cycleEndDate" id="cycleEndDate" ng-model="cycleData.endDate"/></p>

                <p>Дополнительные заметки от тренера</p>

                <p><textarea name="cycleNotes" id="cycleNotes" ng-model="cycleData.notes"></textarea></p>

            </fieldset>
            <button type="submit">Сохранить</button>
        </form>
    </section>

</div>

</body>
</html>
