<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns="http://www.springframework.org/schema/data/jpa"

        xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd


        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
        xmlns:beans="http://www.springframework.org/schema/beans">

    <beans:beans>
        <context:annotation-config/>
        <repositories base-package="ua.com.findcoach.repository"/>
        <beans:bean class="ua.com.findcoach.conf.ApplicationConfiguration"/>
    </beans:beans>

</beans:beans>