<div style="padding: 10px;" ng-init="init()">
    <h1>Программа</h1>
    <form>
        <div class="form-group">
            <label for="programName">Имя:</label>
            <input type="text" id="programName" class="form-control" placeholder="Имя программы"
                   ng-model="program.name"/>
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    {{selectedGoal.label || "Выберите"}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="goal in goals"><a ng-click="selectGoal(goal.value)" href="#">{{goal.label}}</a></li>
                </ul>
            </div>
        </div>

        <button type="button" class="btn btn-default btn-sm"
                ng-click="submit()">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Сохранить
        </button>
        <button type="button" class="btn btn-default btn-sm"
                ng-click="closeModal()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Закрыть
        </button>
    </form>
</div>