<link rel="stylesheet" href="/css/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.css"/>
<link rel="stylesheet" href="/css/libs/summernote/summernote.css"/>
<script type="text/javascript" src="/js/libs/moment-with-locales.js"></script>
<script type="text/javascript" src="/js/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/js/libs/summernote.js"></script>
<div style="padding: 10px;" ng-init="init()">
    <form>
        <div class="form-group">
            <label>Дата и время:</label>
            <div class="input-group date" id="trainingStartDate">
                <input type="text" class="form-control" placeholder="Дата и время"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label for="trainingDuration">Длительность тренировки:</label>
            <select name="trainingDuration" id="trainingDuration" ng-model="training.duration">
                <option value="30">30 мин.</option>
                <option value="45">45 мин.</option>
                <option value="60">1 ч.</option>
                <option value="75">1 ч. 15 мин.</option>
                <option value="90">1 ч. 30 мин.</option>
                <option value="105">1 ч. 45 мин.</option>
                <option value="120">2 ч.</option>
                <option value="135">2 ч. 15 мин.</option>
                <option value="150">2 ч. 30 мин.</option>
                <option value="165">2 ч. 45 мин.</option>
            </select>
        </div>
        <div class="form-group">
            <label for="trainingTitle">Заголовок:</label>
            <input type="text" id="trainingTitle" class="form-control" placeholder="Короткое название для треши"
                   ng-model="training.title"/>
        </div>
        <div class="form-group">
            <label>Описание:</label>
            <div id="trainingDescriptionEditor">Редактор описания программы тренировки</div>
        </div>
        <div class="form-group">
            <label><input type="checkbox" id="trainingRepeat" ng-model="repeatTraining"/> Повторить</label>
        </div>
        <fieldset ng-disabled="!repeatTraining">
            <div class="form-inline">
                <label>Повторять по</label>
                <div class="form-group">
                    <label><input id="trainingRecurrenceMonday" value="true" type="checkbox" id="trainingRepeatMonday">
                        Пн.</label>
                    <label><input id="trainingRecurrenceTuesday" value="true" type="checkbox"
                                  id="trainingRepeatTuesday"> Вт.</label>
                    <label><input id="trainingRecurrenceWednesday" value="true" type="checkbox"
                                  id="trainingRepeatWednesday"> Ср.</label>
                    <label><input id="trainingRecurrenceThursday" value="true" type="checkbox"
                                  id="trainingRepeatThursday"> Чт.</label>
                    <label><input id="trainingRecurrenceFriday" value="true" type="checkbox" id="trainingRepeatFriday">
                        Пт.</label>
                    <label><input id="trainingRecurrenceSaturday" value="true" type="checkbox"
                                  id="trainingRepeatSaturday"> Сб.</label>
                    <label><input id="trainingRecurrenceSunday" value="true" type="checkbox" id="trainingRepeatSunday">
                        Вс.</label>
                </div>
            </div>
            <div class="form-group">
                <label for="trainingRecurrencePeriod">Повторять</label>
                <select id="trainingRecurrencePeriod" class="form-control">
                    <option value="1week">1 неделя</option>
                    <option value="2week">2 недели</option>
                    <option value="3week">3 недели</option>
                    <option value="4week">4 недели</option>
                    <option value="5week">5 недель</option>
                </select>
            </div>
        </fieldset>

        <button type="button" class="btn btn-default btn-sm"
                ng-click="submitNewTraining()">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Добавить
        </button>
        <button type="button" class="btn btn-default btn-sm"
                ng-click="closeModal()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Закрыть
        </button>
    </form>
</div>